*{
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    position: relative;
    background-color: whitesmoke;
}

#navbar{
    position: fixed;
    display: flex;
    height: 80px;
    width: 100vw;
    padding: 2px 5px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    background-color: rgba(24, 24, 24, 0.514);
    color: white;
}

#navbar ul{
    display: flex;
    align-items: center;
    padding-right: 3rem;
    
    
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    font-weight: 900;
    font-size: 15px;

}
#image {
    height: 100vh;
    width: 100vw;
    background-image: url('/img/taco4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;


    
}

/* #image img {
    height: 100vh;
    width: 100vw;
    


    
} */

#image div{
    width: 500px;
    background-color: rgba(255, 174, 0, 0.404);
    color: white;
    padding: 1rem;
    border-radius: 8px;
    height: 450px;
    margin-right: 9rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#image div p{
   font-size: 20px; 
}
#image button{
    background-color: white;
    color: black;
    font-weight: 800;
    padding: 1rem 0.5rem;
    border-radius: 7px;
    border: none;
    width: 50%;


}

#image h1{
    
    font-size: 4rem;
    margin-top: 2rem;

}

/* About section */



#about {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about img{
    width: 240px;
    height: 280px;
    padding-right: 1rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

#about > div{
    
    width: 600px;
    border: none;
    border-radius: 9px;
    box-shadow: 5px 5px rgba(255, 174, 0, 0.404);;
    background-color: rgb(250, 250, 250);
    height: 300px;
    padding: 1.3rem;
    display: flex;
    
    padding-top: 3rem;
    justify-content: center;
}
#about div > h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    
}
#about div p{
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}